body {
  background: lemonchiffon;
}

.ui.menu:first-child {
  font-size: 1.2rem;
  background: white;
}

.item>img {
  width: 8.5rem !important;
}

.ui.small.image.avatar {
  width: 3.4rem;
  height: 3.3rem;
  margin-top: .7rem;
  border: 1px #ccc solid;
}

.ui.card {
  display: inline-block !important;
  margin: 2% -12% !important;
  margin-left: 25% !important;
  box-shadow: 3px 5px 2rem #ccc;
  border: 1px #c9ba9b solid;
}

.ui.card.user1 {
  margin-top: 7rem !important;
}

.ui.card.user2 {
  margin-left: 21.5% !important;
}

.ui.card>.image {
  padding: .7rem !important;
}

.ui.card>.content>.header.card-header {
  margin-right: 9vw !important;
  font-size: 1.3rem !important;
}

a.edit {
  display: inline-block;
  color: rgb(81, 81, 241) !important;
}

a.edit:hover {
  transform: scale(1.1);
}

a.delete {
  display: inline-block;
  color: rgb(242, 63, 63) !important;
}

a.delete:hover {
  transform: scale(1.1);
}

.ui.card>.image.authorbook {
  padding: .7rem !important;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.ui.card a {
  margin-left: 27%;
}

.ui.warning {
  background-color: white !important;
}

.ui.message,
.p {
  width: 40% !important;
  margin: 0 auto !important;
  text-align: center;
}

.ui.message.signup {
  width: 30% !important;
  margin-top: 2rem !important;
  background-color: white !important;
}

.ui.basic.button {
  margin-top: 2rem;
  margin-left: 47%;
  margin-bottom: 1rem;
  box-shadow: 2px 2px 5px #ccc;
  background: darkseagreen !important;
}

.ui.basic.button.addBtn {
  margin-top: 0;
  padding-left: 2.1rem;
  padding-right: 1.9rem;
}

.ui.basic.button:focus {
  background: darkseagreen !important;
}

.ui.basic.button:hover {
  background: rgb(195, 236, 195) !important;
}

.ui.basic.button:active {
  background: darkseagreen !important;
  box-shadow: 2px 2px 5px #ccc;
  transform: translateY(1px);
}

.ui.button {
  background: darkseagreen;
  margin-left: 45%;
}

.ui.button:hover {
  background: rgb(195, 236, 195);
}

.ui.form {
  border: 1px #ccc solid;
  width: 50%;
  margin: 0 auto;
  padding: .5rem;
  border-radius: .5rem;
  background: lightgrey;
}

.header {
  text-align: center;
}

.item>img {
  border-radius: 10px !important;
}