body {
  background: lemonchiffon;
}

.ui.menu:first-child {
  font-size: 1.2rem;
  background: white;
}

.item>img {
  width: 8.5rem !important;
}

.ui.card {
  display: inline-block !important;
  margin: 8% -12% !important;
  margin-left: 24% !important;
  box-shadow: 6px 3px 20px #ccc;
}

.ui.warning {
  background-color: white !important;
}

.ui.message,
.p {
  width: 50% !important;
  margin: 0 auto !important;
  text-align: center;
}

.header {
  text-align: center;
}

.item>img {
  border-radius: 10px !important;
}