.ui.menu:first-child {
  font-size: 1.2rem;
  background: rgb(244, 241, 235);
}

.ui.card {
  display: inline-block !important;
  margin: 13% auto !important;
  margin-left: 20% !important;
}

.header {
  text-align: center;
}

.item>img {
  border-radius: 10px !important;
}